.row
  .col-md-6
    = simple_form_for([:admin, @article], html: {multipart: true}) do |f|
      = f.error_notification message: t('messages.error_notification')

      .form-inputs
        = f.input :title
        = f.input :author
        = f.input :content, as: :ckeditor, input_html: { ckeditor: { toolbar: 'zt' } }

        = f.input :status, default: 1
        /= render 'admin/shared/status_buttons', f: f

      .form_actions
        .row
          .col-md-3
            = f.submit t('actions.save'), class: 'btn btn-primary btn-block'
          .col-md-3
            = link_to t('actions.back'), admin_articles_path, class: 'btn btn-default btn-block'
