%h1 Welcome to West Virginia Dacha!

= render("shared/carousel", images: @carousel_images) if @carousel_images.present?

= render "home_content"

- if @deciduous_plants.present?
  %h2= 'Deciduous Plants'
  %table.table
    - @deciduous_plants.each do |plant|
      - if plant.pictures.present?
        %tr
          %td= plant.title
        %tr
          - plant.pictures.each do |picture|
            %td= image_tag picture.photo.preview.url if picture.photo?
    
- if @evergreen_plants.present?
  %h2= 'Evergreen Plants'
  %table.table
    - @evergreen_plants.each do |plant|
      - if plant.pictures.present?
        %tr
          %td= plant.title
        %tr
          - plant.pictures.each do |picture|
            %td= image_tag picture.photo.preview.url if picture.photo?

