%h1 Welcome to West Virginia Dacha!

= render("shared/carousel", images: @carousel_images) if @carousel_images.present?

= render "home_content"

%table.table
  %tr
    %td.text-center= link_to image_tag(@deciduous_cover.image.cover.url), pages_deciduous_path
    %td.text-center= link_to image_tag(@evergreen_cover.image.cover.url), pages_evergreen_path
    %td.text-center= link_to image_tag(@herbacious_cover.image.cover.url), pages_herbacious_path

