%h1 Welcome!

= render("shared/carousel_images",   images:   @carousel_images) if @carousel_images.present?
= render("shared/carousel_contents", articles: @articles)        if @articles.present?
/= render "shared/content"
.container-fluid
  .row
    .col-md-4
      - if @deciduous_cover.image.present?
        .wrapper
          = link_to image_tag(@deciduous_cover.image.cover.url),  pages_deciduous_path
          .description
            .text-center.description_content= "Deciduous Plants"
      - else
        = link_to "Deciduous Plants", pages_deciduous_path
    .col-md-4
      - if @evergreen_cover.image.present?
        .wrapper
          = link_to image_tag(@evergreen_cover.image.cover.url),  pages_evergreen_path
          .description
            .text-center.description_content= "Evergreen Plants"
      - else
        = link_to "Evergreen Plants", pages_evergreen_path
    .col-md-4
      - if @herbacious_cover.image.present?
        .wrapper
          = link_to image_tag(@herbacious_cover.image.cover.url),  pages_herbacious_path
          .description
            .text-center.description_content= "Herbacious Plants"
      - else
        = link_to "Herbacious Plants", pages_herbacious_path

-# if current_page? root_path
  .data-turbolinks-permanent= audio_tag "/audios/glazunov.mp3", :autoplay => true, :type => "audio/mp3", :controls => true, :loop => true
/= audio_tag "/audios/glazunov.mp3", :autoplay => true
