<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <% for i in 1..images.count-1 %>
      <li data-target="#myCarousel" data-slide-to=i></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <% images.each_with_index do |value, index| %>
      <% if index == 0 %>
        <div class="item active">
          <%= image_tag(value.image.view.url, title: value.content, class: 'center-block') %>
          <!--%#= link_to image_tag(value.image.view.url, title: value.content, class: 'center-block'), '#' %-->
          <div class="carousel-caption">
            <h3><%= value.taken_at.strftime("%m/%d/%Y") %></h3>
            <p><%= value.title %> </p>
          </div>
        </div>
      <% else %>
        <div class="item ">
          <%= image_tag(value.image.view.url, title: value.content, class: 'center-block')%>
          <!--%= link_to image_tag(value.image.view.url, title: value.content, class: 'center-block'), '#' %-->
          <div class="carousel-caption">
            <h3><%= value.taken_at.strftime("%m/%d/%Y") %></h3>
            <p><%= value.title %> </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only"><%= t :previous %></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only"><%= t :next %></span>
  </a>
</div>

